@use 'fonts';

body {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    font-family: exo2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        height: 100px;
        width: auto;
    }

    .header-message {
        .small {
            padding-left: 40px;
            font-size: 40px;
            font-style: italic;
        }

        .large {
            font-size: 80px;
            font-weight: bold;
        }

        text-transform: uppercase;
    }
}

.body-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 15px;

    .hero-video {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
    }

    .reasons-row {
        width: 100%;
        height: 170px;
        padding-top: 15px;
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;

        .reason {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            img {
                width: 150px;
            }
        }

        .separator {
            width: 2px;
            height: 100%;
            background-color: #ddd;
            border-radius: 10px;
        }
    }

    .main-btn {
        width: 250px;
        height: 50px;
        font-size: 20px;
        background-color: #377580;
        color: #fff;
        border-radius: 50px;
        border: none;
    }
}

@media (max-width: 1150px) {
    .header-container {
        flex-flow: wrap;
        justify-content: center;
    }
}